<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5" style="color:black; font-family:sohne-var,Helvetica Neue,Arial,sans-serif">
        SevenAngle
      </h1><p class="lead" style="color:black; font-family:sohne-var,Helvetica Neue,Arial,sans-serif">Prestation graphique</p>
      <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{stripePublishableKey}}"
          data-amount="50000"
          data-name="SevenAngle"
          data-description="1 mois de prestation graphique"
          data-image="/img/logo.png"
          data-locale="auto">
        </script>
        <script>
          // Hide default stripe button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-outline-dark text-white btn-lg" style="background-color:#0a2540; color:#fff ">Purchase For 500,00€</button>
      </form>
    </div>
    <div class="col-md-6">
      <img src="/img/Design-1.jpeg" alt="" class="img-fluid">
    </div>
  </div>
</section>